body {
    color: #777777;
    background: "assets/images/connectwork.png";
    /* Question: Why does this do nothing, but the one in the body tag works? */
    padding: 5pt;
}

div {
    color: #777777;
    background-color: white;
}

.heading-block {
    border-color: #cccccc;
    color: #777777;
    background-color: #ffffff;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
    padding: 4px;
    height: 80pt;
    overflow: auto;
    position: fixed;
}

    
.name {
    position: relative;
    float: left;
    background: #4aaaa5;
    color: white;
    padding: 20pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 330px;
    left: 0pt;
    font-size: 30pt;
}

.navigationLinks {
    background: white;
    float: left;
    position: absolute;
    right: 20px;
    width: 350px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 20pt;
    padding: 25pt;
    overflow: auto;
}

article {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

    color: #777777;
    background-color:#ffffff;
    border-color: #dddddd;
    margin: 40pt;
    margin-top: 20pt;
    float: left;
}

.about {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

    font-weight: bold;
    color: #4aaaa5;
    float: left;
    background: white;
    width: 95%;
    margin: 15pt;
}

.photo {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
max-width: 150px;
max-height: 150px;
    float: left;
    margin: 15pt;
}

.line {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 15pt;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    text-align: justify;
    margin: 15pt;
}

aside {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    float: right;
    background: white;
    height: 200pt;
    width: 200pt;
}

a:link {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    text-decoration: none;
}

a:hover {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    text-decoration: none;
}

a:visited {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    text-decoration: none;
}

a:active {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    text-decoration: none;
}
.footerClass {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: #666666;
    margin-top: 90%;
    text-align: center;
    color: #777777;

}